// Variables

//Color Cube

$white: #FFFFFF;
$cinder: #171520;
$silver_sand: #BBBCBD;
$mountain_meadow: #20AC97;
$corduroy: #6B6C6C;
$alizarin_crimson: #E2251A;
$cafe_royale: #77440E;
$antique_brass: #CA935F;
$tangerine: #F38F01;
$congress_blue: #044689;

// Median Cut

$ebony_clay: #232A33;
$athens_gray: #EBE9ED;
$spicy_mix: #8A614A;
$gray_chateau: #9AA2A6;
$barley_corn: #A38664;

// Material design

$san_marino: #43779D;
$quicksand: #C2A394;
$jungle_green: #26AA94;
$vulcan: #141423;
$amour: #FCF7FB;